.m-posts-roll {
  display: block;
  list-style-type: none;
  margin: 100px auto 0;
  width: 400px;
}

.m-posts-roll img {
  border: 1px solid #cacaca;
  display: inline-block;
  height: 125px;
  margin-right:  20px;
  vertical-align: middle;
}

.m-page-title {
  border-bottom: 1px solid rgb(240,240,240);
  color: rgb(200,200,200);
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 10px;
  text-transform: capitalize;
  width: 100%;
}

.m-page-title span { margin: 0 4px; }