---
layout:      default
title:       Centro Prototypes
tags:        [top-level, ignore]
---
<div class="m-index-container">
  {% include breadcrumbs.html %}
  <ul class="m-index-roll">
    {% for page in site.pages %}
    {% assign post_count = site.categories.[page.category] | size %}
      {% unless page.tags contains 'ignore' or post_count == 0 %}
        <li>
          <a href="{{ site.baseurl }}{{ page.url }}">
            {{ page.title }}
            <div class="m-index-roll__stats">
              {% for item in site.categories.[page.category] %}
                <span class="m-index-roll__count">l</span>
              {% endfor%}
            </div>
          </a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>

