<ul class="m-nav">
  {% if page.tags contains 'top-level' %}
    <li class="m-index-logo">
      <img src="{{ 'logo.png' | asset_path }}" alt="" />
      <span class="active">Product Design</span>
    </li>
    <li class="external l-right">
      <a href="https://github.com/centro/product-design">To the code!</a>
    </li>
  {% elsif page.tags contains 'mid-level' %}
    <li class="m-index-logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ 'logo.png' | asset_path }}" alt="" />
        <span>Product Design</span>
      </a>
    </li>
    <li><span class="m-nav-seperator">:</span></li>
    <li class="active">{{ page.category }}</li>
  {% elsif page.tags contains 'low-level' %}
    <li class="m-index-logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ 'logo.png' | asset_path }}" alt="" />
        <span>Product Design</span>
      </a>
    </li>
    <li><span class="m-nav-seperator">:</span></li>
    <li><a href="{{ site.baseurl }}/{{ page.category }}-index.html">{{ page.category }}</a></li>
    <li><span class="m-nav-seperator">:</span></li>
    <li class="active">{{ page.title }}</li>
  {% endif %}
</ul>
