{% if page.category contains 'auth' %}  
<ul class="m-posts-roll">
  {% for post in site.categories.auth order:ascending %}
    {% include prototype_list_items.html %}
  {% endfor %}
</ul>
{% elsif page.category contains 'luxo' %}
<ul class="m-posts-roll">
  {% for post in site.categories.luxo order:ascending %}
    {% include prototype_list_items.html %}
  {% endfor %}
</ul>
{% elsif page.category contains 'planner' %}
<ul class="m-posts-roll">
  {% for post in site.categories.planner order:ascending %}
    {% include prototype_list_items.html %}
  {% endfor %}
</ul>
{% else page.category contains 'roz' %}
<ul class="m-posts-roll">
  {% for post in site.categories.roz order:ascending %}
    {% include prototype_list_items.html %}
  {% endfor %}
</ul>
{% endif %}