---
layout:      default
title:       Ad Server Mapping
thumbnail:   2013-08-07-ad-server-mapping-thumbnail.png
category:    luxo
tags:        low-level
comments:    true
custom_css:  [2013-08-07-ad-server-mapping.css]
custom_js:   [2013-08-07-ad-server-mapping.js]
---

{% include breadcrumbs.html %}

<div class="header">
  <a class="header--trigger" href="#"></a>
</div>
<div class="overlay">
  <div class="overlay__container">
    <a href="#" class="overlay__close"></a>
    <a href="#" class="overlay__select"></a>
    <div class="overlay__source-wrapper">
      <div class="source-facebook">
         <img src="{{ '2013-08-07-ad-server-mapping-source_facebook.png' | asset_path }}" alt="" />
          <a class="source-remove" href="#"></a>
       </div>
       <img class="icon-link" src="{{ '2013-08-07-ad-server-mapping-icon_link.png' | asset_path }}" alt="" />
    </div>
  </div>
</div>

{% include comments.html %}