---
layout:      default
title:       Ad Server Mapping
thumbnail:   2013-08-07-ad-server-mapping-thumbnail.png
category:    luxo
tags:        low-level
comments:    true
custom_css:  [2013-08-07-ad-server-mapping.css]
custom_js:   [d3.v3.min.js, 2013-08-07-ad-server-mapping.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="width: 445px;">
    <div class="header">
      <a class="header--trigger" href="#">
        <span class="clickable"></span>
      </a>
    </div>
    <div class="overlay">
      <div class="overlay__container">
        <a href="#" class="overlay__close">
          <span class="clickable"></span>
        </a>
        <a href="#" class="overlay__select">
          <span style="left: 20px;" class="clickable"></span>
        </a>
        <div class="overlay__source-wrapper">
          <div class="source-facebook" style="position: relative;">
             <img class="icon-link" src="{{ '2013-08-07-ad-server-mapping-icon_link.png' | asset_path }}" alt="" />
             <img style="position:relative; left: 58px;" src="{{ '2013-08-07-ad-server-mapping-source_facebook.png' | asset_path }}" alt="" />
             <a class="source-remove" href="#"></a>
           </div>
        </div>
      </div>
  </div>
  </div>
</div>

{% include 2013-08-07-ad-server-mapping/d3-delete.js %}
{% include comments.html %}
