---
layout:      default
title:       Campaign Notes
thumbnail:   2013-08-16-campaign-notes-thumbnail.png
category:    luxo
tags:        low-level
comments:    true
custom_css:  [2013-08-16-campaign-notes.css]
custom_js:   [2013-08-16-campaign-notes.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="width: 561px;">
    <div class="header">
      <a class="header--trigger" href="#">
      <span class="clickable"></span> 
      </a>
    </div>
    <div class="overlay">
      <div class="overlay__container">
        <a href="#" class="overlay__close">
          <span class="clickable"></span>
        </a>
        <div class="overlay__header">
          <h1>Notes</h1>
        </div>
        <div class="overlay__body">
          <ul>
            <li>
              <div class="link">
                <span></span>
                <a class="flag" title="" href="#">
                  <span class="clickable"></span>
                </a>
              </div>
              <div class="note">
                <p class="name">
                  Brittany Bellgardt<span><i>|</i>8/10/2013 at 9:07am<i>|</i
                  ><a class="delete" href="#">Delete</a></span>
                </p>
                <p>
                  UED jduffy@koaa.com, remove RYAN for KOAA. Email Guarav at VC. CONTACT ALAMOSANEWS: krcemail56@gmail.com / journal-advocate
                </p>
              </div>
            </li>
            <li>
              <div class="link">
                <span class="s-is-flag-clicked"></span>
                <a class="flag" title="" href="#"></a>
              </div>
              <div class="note">
                <p class="name">
                  Liz Roller<span><i>|</i>8/12/2013 at 12:56pm<i>|</i
                  ><a class="delete" style="position: relative;" href="#"
                  ><span class="clickable"></span>Delete</a></span>
                </p>
                <p>
                  AWAITING ASSETS (CACTUS / MEDIAPLEX) // 9News Contact: Glenzer, John
                </p>
              </div>
            </li>
            <li>
              <div class="link">
                <span></span>
                <a class="flag" title="" href="#"></a>
              </div>
              <div class="note">
                <p class="name">
                  Sean Cleary<span><i>|</i>8/17/2013 at 4:12pm<i>|</i
                  ><a class="delete" href="#">Delete</a></span>
                </p>
                <p>
                  Paused - LawyerHerald and Law 7/24
                </p>
              </div>
            </li>
          </ul> 
        </div>
        <div class="overlay__footer">
          <input autofocus placeholder="Type your note here..." id="js-input" type="text" />
          <span style="left: 40px;" class="clickable"></span>
          <button id="js-button" type="submit">
            Add
            <span class="clickable"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include comments.html %}
