---
layout:      default
title:       Campaign Create
thumbnail:   thumbnail.png
category:    suite
tags:        low-level
comments:    true
custom_css:  [2013-10-10-campaign-create.css]
custom_js:   [2013-10-10-campaign-create.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="width: 1200px;">

    <div class="header">
      <a class="new-campaign-button" href="#"></a>
    </div>

    <div class="overlay">
      <div class="overlay__container">
        <a href="#" class="overlay__close"></a>

        <div class="overlay__header">
          <h1>New Campaign</h1>
          <ul class="overlay__nav">
            <li data-tab="1" class="s-is-current"><a href="#info">Basic Info</a></li>
            <li data-tab="2"><a href="#target">Targeting</a></li>
            <li data-tab="3"><a href="#requirement">Requirements</a></li>
          </ul>
        </div>
        
        <div id="info" class="tab is-visible">
          <div class="overlay__body">
            <div class="l-left form-field campaign-name">
              <label class="form__label">Campaign Name</label>
              <input autofocus class="form__input" type="text" tabindex="1" />
            </div>
            <div class="l-left form-field unique-id">
              <label class="form__label">Unique ID</label>
              <input disabled id="unique-id" class="form__input" type="text" tabindex="2" />
            </div>
            <div class="form-field">
              <label class="form__label">Client</label>
              <input data-context="client" class="auto-search client unique form__input" placeholder="Choose a client..." type="text" tabindex="3" />
            </div>

            <div class="form-field flight-dates">
              <label class="form__label">Flight Date</label>
              <ul class="flight-date">
                <li>
                  <div class="date-range">
                    <span tabindex="0" data-type="start" class="i-calendar"></span>
                    <input class="start form__input form__datepicker" placeholder="Start" type="text" tabindex="4" />
                  </div>
                  <span class="range">&ndash;</span>
                  <div class="date-range">
                    <span tabindex="0" data-type="end" class="i-calendar"></span>
                    <input class="end form__input form__datepicker" placeholder="End" type="text" tabindex="5" />
                  </div>
                </li>
              </ul>
              <a href="#" id="add-flight-date" class="design-link">Add another set</a>
            </div>

            <div class="form-field last">
              <div>
                <label class="form__label">Account Team</label>
                <input data-context="team" class="auto-search collection team form__input" type="text" placeholder="Choose a team member..." tabindex="6" /> 
              </div>
              <div class="tag-group"></div>
            </div>

          </div>

          <div class="overlay__footer">
            <button class="l-left button--primary" id="js-button create-campaign" type="submit" tabindex="">Create</button>
            <a class="l-right button" href="#target" tabindex="">Next</a>
          </div>
        </div>

        <div id="target" class="tab">
          <div class="overlay__body">
            <div class="form-field">
              <a href="#" class="show-example l-right design-link">Show example</a>
              <label class="form__label">Campaign Objectives</label>
              <textarea autofocus class="form__input" type="text" tabindex="7"></textarea>
            </div>

            <div class="clearfix" style="margin-bottom: 12px;">
              <div class="l-left form__field gender">
                <label class="form__label">Gender</label>
                <div>
                  <input type="radio" name="sex" id="male" value="male" tabindex="8"><label for="male"class="radio-label">Male</label>
                </div>
                <div>
                  <input type="radio" name="sex" id="female" value="female" tabindex="9"><label for="female" class="radio-label">Female</label>
                </div>
                <div>
                  <input type="radio" name="sex" id="both" value="both" tabindex="10"><label for="both" class="radio-label">Both</label>
                </div>
              </div>
              <div class="l-right form-field sliders">
                <div class="age">
                  <label class="form__label">Age</label>
                  <div id="age-range" tabindex="11"></div>
                </div>
                <div class="income">
                  <label class="form__label">Yearly Income</label>
                  <div id="income-range" tabindex="12"></div>
                </div>
              </div>
            </div>

            <div class="form-field">
              <div>
                <label class="form__label">Geographic (by DMA)</label>
                <input data-context="geo" class="auto-search collection geo form__input" type="text" placeholder="Choose a location..." tabindex="13" /> 
              </div>
              <div class="tag-group"></div>
            </div>

            <div class="form-field last">
              <div>
                <label class="form__label">Category</label>
                <input data-context="category" class="auto-search collection category form__input" type="text" placeholder="Choose a category..." tabindex="13" /> 
              </div>
              <div class="tag-group"></div>
            </div>

          </div>

          <div class="overlay__footer">
            <button class="l-left button--primary" id="js-button create-campaign" type="submit" tabindex="">Create</button>
            <a class="l-right button" href="#requirements" tabindex="">Next</a>
            <a class="l-right button" style="margin-right: 10px;" href="#info" tabindex="">Back</a>
          </div>

        </div>
        
        <div id="requirements" class="tab">
          <div class="overlay__body">

            <div class="form-field">
              <div>
                <label class="form__label">Ad Platform</label>
                <input data-context="platform" class="auto-search collection platform form__input" type="text" placeholder="Choose ad platform..." tabindex="13" /> 
              </div>
              <div class="tag-group"></div>
            </div>

            <div class="form-field">
              <div>
                <label class="form__label">Ad Type</label>
                <input data-context="type" class="auto-search collection type form__input" type="text" placeholder="Choose ad type..." tabindex="13" /> 
              </div>
              <div class="tag-group"></div>
            </div>

            <div class="form-field">
              <div>
                <label class="form__label">Ad Size</label>
                <input data-context="size" class="auto-search collection size form__input" type="text" placeholder="Choose ad sizes..." tabindex="13" /> 
              </div>
              <div class="tag-group"></div>
            </div>

            <div class="form-field">
              <div>
                <label class="form__label">Desired Positioning</label>
                <input data-context="positioning" class="auto-search collection positioning form__input" type="text" placeholder="Choose desired positioning..." tabindex="13" /> 
              </div>
              <div class="tag-group"></div>
            </div>

            <div class="form-field last">
              <a href="#" class="l-right design-link show-example">Show example</a>
              <label class="form__label">Additional Notes</label>
              <textarea autofocus class="form__input" type="text" tabindex="7"></textarea>
            </div>

          </div>
          <div class="overlay__footer">
            <button class="l-left button--primary" id="create-campaign" type="submit" tabindex="">Create</button>
            <a class="l-right button" href="#target" tabindex="">Back</a>
          </div>
        </div>
      </div>
    </div>
    <span id="datepicker"></span>
  </div>
</div>

{% include comments.html %}
