---
layout:      default
title:       Placement Grid Scrolling
thumbnail:   thumbnail.png
category:    suite
tags:        low-level
comments:    true
custom_css:  [2013-11-06-placement-grid-scrolling.css]
custom_js:   [2013-11-06-placement-grid-scrolling.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div class="app">
    <div class="header"></div>
    <div class="white-box"></div>
    <div class="fixed"></div>
    <div class="scroll-viewport">
      <div class="scroll-img"</div>
    </div>
  </div>
</div>

{% include comments.html %}
