---
layout:      default
title:       Ad Server Management
thumbnail:   2013-08-06-ad-server-management-thumbnail.png
category:    luxo
tags:        low-level
comments:    true
custom_css:  [2013-08-06-ad-server-management]
custom_js:   [2013-08-06-ad-server-management]
---

{% include breadcrumbs.html %}

<div class="header">
  <a class="header--trigger" href="#"></a>
  <div class="tooltip">
    <a class="tooltip--edit" href="#"></a>
    <a class="tooltip--notes" tabindex="0" href="#">
      <img class="tooltip--img" src="{{ site.baseurl }}{{ '2013-08-06-ad-server-management-ad_server_notes.png' | asset_path }}" alt="" />
    </a>
  </div>
</div>
<div class="overlay">
  <div class="overlay__container">
    <a href="#" class="overlay__close"></a>
    <div class="overlay__row-wrapper">
      <ul>
        <li class="ui-front">
          <img src="{{ site.baseurl }}{{ '2013-08-06-ad-server-management-Blank_Row.png' | asset_path }}" alt="" />
          <input type="text" value="Brand Exchange Mobile"/>
          <a class="close" href="#"></a>
        </li>
        <li class="ui-front">
          <img src="{{ site.baseurl }}{{ '2013-08-06-ad-server-management-Blank_Row.png' | asset_path }}" alt="" />
          <input type="text" value="Atlas" />
          <a class="close" href="#"></a>
        </li>
        <li class="ui-front blank_row">
          <img src="{{ site.baseurl }}{{ '2013-08-06-ad-server-management-Blank_Row.png' | asset_path }}" alt="" />
          <input class="ad_server_select" type="text" />
          <a class="close" href="#"></a>
        </li>
      </ul>
      <a style="display: inline-block;" href="#">
        <img class="ad-server-button" src="{{ site.baseurl }}{{ '2013-08-06-ad-server-management-button.png' | asset_path }}" alt="" />
      </a>
    </div>
  </div>
</div>

{% include comments.html %}