---
layout:      default
title:       Campaign Totals
thumbnail:   2013-09-09-campaign-totals-thumbnail.png
category:    luxo
tags:        low-level
comments:    true
custom_css:  [2013-09-09-campaign-totals.css]
custom_js:   [2013-09-09-campaign-totals.js, jquery.quicksilver.js, jquery.liveUpdate.js, jquery.highlight.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="width: 1220px;">
    <div class="bordered" style="position: relative;">
      <img src="{{ '2013-09-09-campaign-totals-header.png' | asset_path }}" alt="" />
      <ul class="table">
        <li class="row1">
          <span class="name">Look alike targeting :: Geo Buffalo</span>
          <span class="contracted imps">637,500</span>
          <span class="loss">$1,647</span>
          <span class="delivered imps">225,421</span>
        </li>
        <li class="row2">
          <span class="name">Look alike targeting :: Geo Richmond</span>
          <span class="contracted imps">191,250</span>
          <span class="loss">$130</span>
          <span class="delivered imps">158,812</span>
        </li>
        <li class="row3">
          <span class="name">Look alike targeting :: Geo Rochester</span>
          <span class="contracted imps">318,538</span>
          <span class="loss">$623</span>
          <span class="delivered imps">162,857</span>
        </li>
        <li class="no-border subtotals-row"></li>
        <li class="no-border header-row"></li>
        <li class="row4">
          <span class="name">Albany Zip Targeted :: 30 ROS : Demo to Education</span>
          <span class="contracted clicks">22,773</span>
          <span class="loss">$1,585</span>
          <span class="delivered clicks">127</span>
        </li>
        <li class="row5">
          <span class="name">Buffalo Zip Targeted :: 30 ROS : Demo to Education</span>
          <span class="contracted clicks">50,394</span>
          <span class="loss">$3,506</span>
          <span class="delivered clicks">295</span>
        </li>
        <li class="row6">
          <span class="name">Cleveland Zip Targeted :: 30 ROS : Demo to Education</span>
          <span class="contracted clicks">110,612</span>
          <span class="loss">$7,689</span>
          <span class="delivered clicks">777</span>
        </li>
      </ul>
      <div class="totals-trigger">
        <span class="clickable"></span>
      </div>
      <div class="totals-bar">
        <input id="search" type="text" placeholder="Search placements by name…" />
        <span style="left: 20px;" class="clickable"></span>
        <ul>
          <li class="multi contract">
            <span class="clickable"></span>
            <ul class="wayfinder">
              <li class="active"></li>
              <li></li>
            </ul>
            <p class="active imps">
              <span class="num">0</span>
              <span class="unit">imps</span>
            </p>
            <p class="clicks">
              <span class="num">0</span>
              <span class="unit">clicks</span>
            </p>
          </li>
          <li class="single loss">
            <span class="num">0</span>
            <span class="unit">est. loss</span>
          </li>
          <li class="multi delivered">
            <span class="clickable"></span>
            <ul class="wayfinder">
              <li class="active"></li>
              <li></li>
            </ul>
            <p class="active imps">
              <span class="num">0</span>
              <span class="unit">imps</span>
            </p>
            <p class="clicks">
              <span class="num">0</span>
              <span class="unit">clicks</span>
            </p>
          </li>
          <li class="pacing">
            <span class="num">86%</span>
            <span class="unit">pacing</span>
          </li>
          <li class="pushpin">
            <a href="#">
              <img src="{{ '2013-09-09-campaign-totals-pushpin.png' | asset_path }}" alt="" />
              <span class="clickable"></span>
            </a>
          </li>
        </ul>
    </div>
  </div>
</div>
</div>

{% include comments.html %}
