---
layout:      default
title:       Reminders 
thumbnail:   2013-09-16-reminders-thumbnail.png
category:    luxo
tags:        low-level
comments:    true
custom_css:  [2013-09-16-reminders.css]
custom_js:   [2013-09-16-reminders.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="width: 806px;">
    <div class="header">
      <img src="{{ '2013-09-16-reminders-header.png' | asset_path }}" alt="" />
      <a class="trigger" onclick="return false;" href="#"><span class="clickable"></span></a>
    </div>
    <div class="tooltip">
      <div class="tooltip-header">
        <ul>
          <li class="active">Today</li>
          <li>Scheduled</li>
        </ul>
      </div>
      <div class="tooltip-sidebar">
        <ul class="tooltip-nav">
          <li class="locked">
            <span>My Reminders</span>
            <ul>
              <li class="active">Today</li>
              <li>Overdue</li>
            </ul>
          </li>
          <li>
            <span>Launch Alerts</span>
            <ul>
              <li>Yesterday</li>
              <li>Today</li>
              <li>Tomorrow</li>
            </ul>
          </li>
          <li>
            <span>Campaign Updates</span>
            <ul>
              <li>New</li>
              <li>Ending Soon</li>
              <li>Completed</li>
            </ul>
          </li>
        </ul>
        <button type="button">Schedule a reminder</button>
      </div>
      <div class="tooltip-main">
        <div id="my-reminders--today">
          <ul class="to-dos">
            <li><input id="1" type="checkbox"/><label for="1">Client report due for FORD334</label></li>
            <li><input id="2" type="checkbox"/><label for="2">Map/UE on 8.27 (PR and YouTube)</label></li>
            <li><input id="3" type="checkbox"/><label for="3">DSP-Centro; reporting on Monday</label></li>
            <li><input id="4" type="checkbox"/><label for="4">Weekly reporting T(next 08.6)</label></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include comments.html %}
