---
layout:      default
title:       Campaign Quick Search
thumbnail:   2013-05-16-campaign-quick-search-thumbnail.png
category:    luxo
tags:        low-level
comments:    true
custom_css:  [2013-05-16-campaign-quick-search.css]
custom_js:   [2013-05-16-campaign-quick-search.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="width: 804px;">
    <div class="header">
      <input class="quick-search" type="text" />
      <span style="left: 530px;" class="clickable"></span>
    </div>
  </div>
</div>

{% include comments.html %}
