---
layout:      default
title:       Date Picker Widget 
thumbnail:   2013-08-13-date-picker-widget-thumbnail.png
category:    luxo
tags:        low-level
comments:    true
custom_css:  [2013-08-13-date-picker-widget.css]
custom_js:   [2013-08-13-date-picker-widget.js]
---


{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="width: 640px;">
    <div class="header">
      <input placeholder="8/27/13" type="text" />
      <a class="calendar-icon" href="#">
        <span class="clickable"></span>
      </a>
    </div> 
    <div class="date-picker">

    </div>
  </div>
</div>

{% include comments.html %}
