---
layout:      default
title:       Low-fi Suite Vision (Revised)
thumbnail:   thumbnail.png
category:    suite
tags:        low-level
comments:    true
custom_css:  [2013-09-30-low-fi-vision-revised.css]
custom_js:   [2013-09-30-low-fi-vision-revised.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="width: 1200px;">
    <div class="dash-header">
      <div class="dash-nav">
        <ul class="active">
          <li class="active"><a href="#">All (6,916)</a></li>
          <li><a href="#">Pending (2,142)</a></li>
          <li><a href="#">Live (133)</a></li>
          <li><a href="#">Completed (4,641)</a></li>
        </ul>
        <ul>
          <li class="active"><a href='#ar'>Accounts Receivable</a></li>
          <li><a href='#ap'>Accounts Payable</a></li>
        </ul>
      </div>
      <div class="onoffswitch">
        <span>Billing Mode:</span>
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
        <label class="onoffswitch-label" for="myonoffswitch">
          <div class="onoffswitch-inner"></div>
          <div class="onoffswitch-switch"></div>
        </label>
      </div>
    </div>
    <div class="dash-content">
      <div class="campaign-list-default">
        <p class="centered main active">List of Campaigns</p>
        <p id ="ar" class="centered main">List of Campaigns w/ billing specific data</p>
        <p id="ap" class="centered">List of Campaigns w/ billing 
          specific data (organized by Publisher)</p>
        <a class="js-trigger" href="#">Next &rarr;</a>
      </div>
    </div>
  </div>
</div>

{% include comments.html %}
