---
layout:      default
title:       Low Fidelity Suite Vision
thumbnail:   2013-09-25-low-fi-suite-vision-thumbnail.png
category:    suite
tags:        low-level
comments:    true
custom_css:  [2013-09-25-low-fi-suite-vision.css]
custom_js:   [2013-09-25-low-fi-suite-vision.js]
---

{% include breadcrumbs.html %}

<div class="m-wrapper">
  <div style="position: relative; width: 750px;">
    <div id="dashboard" class="active lowfi-dashboard">
      <img src="{{ '2013-09-25-low-fi-suite-vision-dashboard-page.png' | asset_path }}" alt="" />
      <a class="nav" href="#objectives"></a>
    </div>
    <div id="objectives" class="lowfi-objectives">
      <img src="{{ '2013-09-25-low-fi-suite-vision-objectives-page.png' | asset_path }}" alt="" />
      <a class="next nav" href="#recommendations"></a>
    </div>
    <div id="recommendations" class="lowfi-recommendations">
      <img src="{{ '2013-09-25-low-fi-suite-vision-recommendations-page.png' | asset_path }}" alt="" />
      <a class="generate nav" href="#research"></a>
    </div>
    <div id="research" class="lowfi-research">
      <img src="{{ '2013-09-25-low-fi-suite-vision-research-tab.png' | asset_path }}" alt="" />
      <img class="active flyout" src="{{ '2013-09-25-low-fi-suite-vision-research-flyout-1.png' | asset_path }}" alt="" />
      <img class="flyout" src="{{ '2013-09-25-low-fi-suite-vision-research-flyout-2.png' | asset_path }}" alt="" />
      <a class="planning nav" href="#planning"></a>
      <a class="analytics nav" href="#analytics"></a>
      <a class="billing nav" href="#billing"></a>
      <a class="add-publisher" href="#"></a>
      <a class="rfp-all" href="#planning"></a>
    </div>
    <div id="planning" class="lowfi-planning">
      <img src="{{ '2013-09-25-low-fi-suite-vision-planning-tab.png' | asset_path }}" alt="" />
      <a class="research nav" href="#research"></a>
      <a class="analytics nav" href="#analytics"></a>
      <a class="billing nav" href="#billing"></a>
      <a class="io-all nav" href="#analytics"></a>
    </div>
    <div id="analytics" class="lowfi-analytics">
      <img src="{{ '2013-09-25-low-fi-suite-vision-analytics-tab.png' | asset_path }}" alt="" />
      <a class="research nav" href="#research"></a>
      <a class="planning nav" href="#planning"></a>
      <a class="billing nav" href="#billing"></a>
      <a class="revise nav" href="#planning"></a>
    </div>
    <div id="billing" class="lowfi-billing">
      <img src="{{ '2013-09-25-low-fi-suite-vision-billing-tab.png' | asset_path }}" alt="" />
      <img class="tab" src="{{ '2013-09-25-low-fi-suite-vision-billing-tab--invoices.png' | asset_path }}" alt="" />
      <a class="research nav" href="#research"></a>
      <a class="planning nav" href="#planning"></a>
      <a class="analytics nav" href="#analytics"></a>
      <a class="invoices-tab" href="#"></a>
    </div>
  </div>
</div>

{% include comments.html %}
