@import "compass";
@import "animation";

$centro-brand-normal: rgb(0,186,246);

$centro-bright: rgb(210, 30, 133);
$centro-brighter: rgb(230, 51, 141); 

$centro-gray-1: rgb(50,50,50);
$centro-gray-2: rgb(100,100,100);
$centro-gray-3: rgb(150,150,150);
$centro-gray-4: rgb(200,200,200);
$centro-gray-5: rgb(220,220,220);


$centro-highlight: rgb(253, 248, 230);

// surface colors
$grayscale-0           : hsl(195, 15%, 88%);
$grayscale-1           : hsl(195, 15%, 78%);
$grayscale-2           : hsl(195, 15%, 60%);
$grayscale-3           : hsl(195, 15%, 50%);
$grayscale-4           : hsl(195, 15%, 30%);
$grayscale-5           : hsl(195, 90%, 10%);

$centro-alert-1        : hsl(357, 96%, 63%);
$centro-alert-2        : hsl(45, 89%, 83%);

$centro-brand-1a       : hsl(195, 90%, 28%);
$centro-brand-1b       : hsl(195, 100%, 43%);
$centro-brand-1c       : hsl(195, 75%, 70%);
$centro-brand-1d       : hsl(195, 60%, 80%);

$centro-brand-2a       : hsl(323, 100%, 30%);
$centro-brand-2b       : hsl(320, 84%, 42%);
$centro-brand-2c       : hsl(329, 82%, 59%);

$centro-confirm-1      : hsl(156, 100%, 36%);

// used for secondary buttons
$centro-green          : rgb(0, 183, 111);

