@import "compass";
@import "animation";

$centro-brand-normal: rgb(0,186,246);

$centro-bright: rgb(210, 30, 133);
$centro-brighter: rgb(230, 51, 141); 

$centro-gray-1: rgb(50,50,50);
$centro-gray-2: rgb(100,100,100);
$centro-gray-3: rgb(150,150,150);
$centro-gray-4: rgb(200,200,200);
$centro-gray-5: rgb(220,220,220);


$centro-highlight: rgb(253, 248, 230);

