//= require reset

$centro-bright: rgb(210, 30, 133);
$centro-brighter: rgb(230, 51, 141); 

html,
body {
  height: 100%;
}

a { 
  color:  rgb(50, 50, 50);
  text-decoration: none;
}
a:hover { color: $centro-bright; }
a:focus { outline: none; }

// ----

.m-index-container {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(asset_path('sketch.jpg')) no-repeat center center;
  text-align: center;
}

.m-index-container:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.m-index-container > * { 
  font-size: 1rem; 
  text-align: left;
}

.m-nav {
  background: white;
  border-bottom: 2px solid rgb(235,235,235);
  font-family: "reenie-beanie";
  font-size: 21px;
  list-style-type: none;
  overflow: hidden;
  padding: 9px 15px;
  position: fixed;
  left: 0;
  top: 0;
  text-transform: capitalize;
  width: 100%;
  z-index: 100;
}

.m-nav li {
  float: left;
  line-height: 25px;
}

.m-nav li:not(.m-index-logo) {
  position: relative;
  top: 2px;
}

.m-nav li.active {
  color: $centro-bright;
}

.m-nav li a {
  display: inline-block;
}

.m-nav-seperator {
  margin: 0 6px;
  color: rgb(200, 200, 200);
}

.m-index-logo img {
  display: inline;
  vertical-align: middle;
  height: 15px;
}

.m-index-logo span {
  position: relative;
  top: 2px;
  vertical-align: middle;
}

.m-index-roll {
  background: white;
  border: 2px solid rgb(230,230,230);
  display: inline-block;
  font-size: 21px;
  font-weight: 300;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.1s;
  text-align: left;
  vertical-align: middle;
  width: 400px;
}

.m-index-roll:hover {
  border-color: $centro-bright;
}

.m-index-roll li {
  line-height: 1;
  transition: all 0.1s;
}

.m-index-roll li a {
  border-color: transparent;
  border-style: solid;
  border-width: 2px 0;
  display: block;
  overflow: hidden;
  padding: 12px;
  position: relative;
  transition: all 0.1s;
}

.m-index-roll li a:hover {
  background-color: $centro-brighter;
  border-color: $centro-bright;
  color: white;
}

.m-index-roll li:first-child a:hover {
  border-top-color: transparent;
}

.m-index-roll li:last-child a:hover {
  border-bottom-color: transparent;
}

.m-index-roll__stats {
  position: absolute;
  right: 12px;
  top: 13px;
}

.m-index-roll__count {
  font-family: "reenie-beanie";
  font-size: 21px;
  text-align: right;
}

.m-posts-roll {
  display: block;
  list-style-type: none;
  margin: 0 auto;
  padding: 90px 45px 0;
  overflow: hidden;
}

.m-posts-roll li {
  float: left;
  margin: 0 45px 0 0; 
}

.m-posts-roll a {
  display: block;
  font-size: 14px;
  position: relative;
}

.m-posts-roll a > * {
  transition: all 0.1s;
}

.m-posts-roll img {
  border: 2px solid rgb(230,230,230);
  display: block;
  vertical-align: middle;
}

.m-posts-roll a:hover {
  img,
  span { border-color: $centro-bright; }
  span {
    background-color: $centro-brighter;
    color: #fff;
  }
}

.m-posts-roll span {
  background: rgb(235,235,235);
  border-color: rgb(230,230,230);
  border-style: solid;
  border-width: 2px 0 0 0;
  padding: 5px 10px;
  display: block;
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  transition: all 0.1s;
}

.m-static-prototype {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45px;
  bottom: 0px;
  overflow: auto;
  padding-top: 45px;
}

.m-static-prototype img { display: inline-block; }

.m-static-prototype img.bordered {
  border-color: rgb(214,214,214);
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

.m-comments {
  display: none;
  background: white;
  position: fixed;
  top:  45px;
  bottom: 0;
  right: 0;
  border-left: 2px solid rgb(235,235,235);
  overflow: auto;
  padding: 20px 20px 0 20px;
  width: 500px;
}

.l-right { float: right !important; }

.m-wrapper {
  overflow: auto;
  padding-top: 45px;
  position: absolute;
    bottom: 0px;
    top: 45px;
  width: 100%;
}

.m-wrapper > div {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.m-wrapper > div.bordered {
  border: 1px solid rgb(214,214,214);
}


