//= require reset

.m-index-container {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(asset_path('sketch.jpg')) no-repeat center center;
  text-align: center;
}

.m-index-container:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.m-index-container > * { font-size: 1rem; }

.m-index-logo {
  border-top: none;
  color: #fe4396;
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: 5px;
  top: 0;
}

.m-index-logo:hover {
  color: rgb(100,100,100);
  text-decoration: none;
}

.m-index-logo img {
  display: inline;
  vertical-align: middle;
}

.m-index-logo span {
  font-family: "reenie-beanie";
  font-size: 20px;
  position: relative;
  top: 2px;
  vertical-align: middle;
}

.m-index-roll {
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border: 1px solid rgb(180,180,180);
  border-radius: 5px;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.1s;
  text-align: left;
  vertical-align: middle;
  width: 400px;
}

.m-index-roll li {
  border-top: 1px solid rgb(230,230,230);
  line-height: 1;
  transition: all 0.1s;
}

.m-index-roll li:first-child {
  border: none;
}

.m-index-roll li a {
  color: rgb(100,100,100);
  display: block;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: all 0.1s;
}

.m-index-roll li a:hover {
  text-decoration:none;
  color: #fe4396;
  span {
    color: #fe4396;
  }
}

.m-index-roll__stats {
  position: absolute;
  right: 10px;
  top: 11px;
}

.m-index-roll__count {
  color: rgb(200,200,200);
  float: right;
  font-family: "reenie-beanie";
  font-size: 24px;
  top: 3px;
  text-align: right;
}

.m-posts-roll {
  display: block;
  list-style-type: none;
  margin: 100px auto 0;
  width: 400px;
}

.m-posts-roll li { margin-bottom: 20px; }

.m-posts-roll img {
  border: 1px solid #cacaca;
  display: inline-block;
  height: 125px;
  margin-right:  20px;
  vertical-align: middle;
}

.m-page-title {
  background: white;
  border-bottom: 1px solid #d6d6d6;
  color: rgb(200,200,200);
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  height:  30px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 10px;
  text-transform: capitalize;
  width: 100%;
  z-index: 10;
}

.m-page-title span { margin: 0 4px; }

.m-static-prototype {

  padding-top: 30px;
  text-align: center;
  width: 100%;
}

.m-static-prototype img {
  border-color: #d6d6d6;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  display: inline-block;
}

.m-comments {
  display: none;
  background: white;
  position: absolute;
  top:  30px;
  bottom: 0;
  right: 0;
  border-left: 1px solid #d6d6d6;
  padding: 20px 20px 0 20px;
  width: 500px;
  overflow-y: scroll;
}

.l-right { float: right; }

.m-wrapper {
  border-color: #d6d6d6;
  border-style: solid;
  border-width: 0 1px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 30px;
  position: relative;
  width: 1220px;
}
