<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_path }}" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'default.css' | asset_path }}" />
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ stylesheet | asset_path }}" />  
    {% endfor %}
    <script src="{{ 'default.js' | asset_path }}"></script>
    {% for js in page.custom_js %}
      <script src="{{ js | asset_path }}"></script>
    {% endfor %}
    <script src="//use.typekit.net/ysf1fwm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
